body {
	margin: 0;
	padding: 0;
	background-color: #AFB3A5;
	background-color: #819DA0;
	background-color: #66454E;
	background-color: #360B15;
	background-color: #EAE4D4;
	color: #360B15;
	font-family: 'Hind Madurai', sans-serif;
}

/* #region shared */

h1, h2 {
	font-family: 'Dancing Script', cursive;
	letter-spacing: 0px;
}

button, input[type=submit] {
	padding: 1rem 2rem;
	font-size: 1rem;
	line-height: 1rem;
	background-color: transparent;
	border: 1px solid #360B15;
	border-radius: 3rem;
	color: #360B15;
	cursor: pointer;
}

.note {
	font-style: italic;
}

/* #region image-link */

a.image-link {
	text-decoration: none;
}

img.image-link {
	max-width: 45%;
	background-color: white;
	padding: 0.25rem;
}

img.image-link.landscape {
	max-width: 93%;
}

img.image-link {
	box-shadow: 6px 6px 6px -6px #777;
}

img.image-link:hover {
	box-shadow: 10px 10px 10px -10px #777;
}

/* #endregion */

/* #region form */

.form {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 1rem;
}

.field {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	line-height: 1.75rem;
}

.field label {
	text-align: right;
}

.field input {
	width: 100%;
	background-color: rgba(54, 11, 21, 0.125);
	border: none;
	border-radius: 4px;
	color: #360B15;
	padding: 0 3px;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 1rem;
	line-height: 1rem;
	max-width: 10rem;
}

.submit {
	margin-top: 1rem;
}

/* #endregion */

/* #endregion */

/* #region page */

.page {
	display: grid;
	grid-template-rows: 100vh 1fr;
	grid-template-columns: auto;
}

/* #region left */

.left {
	background-image: url("images/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.overlay {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	background-color: rgba(54, 11, 21, 0.376);
	height: 100%;
	color: #EAE4D4;
}

.nav-bar {
	text-align: center;
}

.nav-bar .links {
	margin: auto;
}

.nav-bar a {
	display: inline-block;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 0;
	width: 18%;
	color: #EAE4D4;
}

.header {
	text-align: center;
	display: grid;
	justify-items: center;
	align-items: center;
}

.header .text {
	font-size: 6rem;
}

.scroll-for-more {
	text-align: center;
	font-size: 1.25rem;
	animation: bounce 1s infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0px) rotate(90deg);
	}
	to {
		transform: translateY(-10px) rotate(90deg);
	}
}

/* #endregion */

/* #region right */

.right {
	overflow-y: auto;
	text-align: center;
}

.section {
	margin: 2rem 0;
}

.section .title-background {
	width: 100%;
	background-color: #360B15;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	margin-bottom: 1rem;
	/* box-shadow: inset 0 0 20px #360B15; */
}

.section .title-overlay {
	height: 100%;
	background-color: rgba(54, 11, 21, 0.5);
}

#wedding-info .title-background {
	background-image: url("images/section_header_flowers.png");
}

.section .title {
	font-size: 2.5rem;
	padding: 1.5rem 1rem;
	margin: 0;
	color: #EAE4D4;
}

.section .content {
	margin: 1rem 2rem;
}

.section .content p {

	line-height: 1.75rem;
	padding: 0;
	margin: 0;
}

/* #endregion */

/* #endregion */

/* #region desktop styling */

@media (min-width: 800px) {
	.page {
		grid-template-rows: 100vh;
		grid-template-columns: 2fr 1fr;
		height: 100vh;
	}
	.scroll-for-more {
		display: none;
	}
	.section {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.section .title-background {
		border-radius: 4px;
	}
	.section .content {
		margin-left: 0;
		margin-right: 0;
	}
}

/* #endregion */