body {
	margin: 0;
	padding: 0;
	background-color: #AFB3A5;
	background-color: #819DA0;
	background-color: #66454E;
	background-color: #360B15;
	background-color: #EAE4D4;
	color: #360b15;
	font-family: 'Hind Madurai', sans-serif;
}

/* #region shared */

/* #region text */
h1,
h2 {
	font-family: 'Dancing Script', cursive;
	letter-spacing: 0px;
}

h3 {
	font-size: 1rem;
}

button,
input[type=submit] {
	padding: 1rem 2rem;
	font-size: 1rem;
	line-height: 1rem;
	background-color: transparent;
	border: 1px solid #360B15;
	border-radius: 3rem;
	color: #360B15;
	cursor: pointer;
}

.note {
	font-style: italic;
}

/* #endregion */

/* #region image-link */

a.image-link {
	text-decoration: none;
}

img.image-link {
	max-width: 95%;
	background-color: white;
	padding: 0.5rem;
}

img.image-link.landscape {
	max-width: 93%;
}

img.image-link {
	box-shadow: 0px 1px 6px -1px #777;
}

img.image-link:hover {
	box-shadow: 0px 1px 12px 0px #777;
}

/* #endregion */

/* #region paper stack */

.paper-stack {
	background: #fff;
	padding: 0.25rem;
	position: relative;
}

.paper-stack,
.paper-stack::before,
.paper-stack::after {
	box-shadow: 1px 1px 6px -1px #777;
}

.paper-stack::before,
.paper-stack::after {
	content: "";
	position: absolute;
	height: 95%;
	width: 99%;
	background-color: white;
}

.paper-stack::before {
	right: 15px;
	top: 0;
	transform: rotate(-1deg);
	z-index: -1;
}

.paper-stack::after {
	top: 5px;
	right: -5px;
	transform: rotate(1deg);
	z-index: -2;
}

/* #endregion */

/* #region loading icon */

.outer-content:not(.loading) .loader-container {
	display: none;
}

.loader-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	background-color: rgba(54, 11, 21, 0.5);
}

.loader {
	border: 8px solid rgba(54, 11, 21, 0);
	border-radius: 50%;
	border-top: 8px solid rgb(54, 11, 21);
	width: 60px;
	height: 60px;
	animation: spin 1s cubic-bezier(0.77, 0.27, 0.23, 0.7) infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* #endregion */

/* #region form */

.form {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 1rem;
}

.form .request-error {
	margin-bottom: 1rem;
}

.section .form .request-error p {
	margin-bottom: 0.5rem;
}

.form .request-error {
	margin-bottom: 1rem;
}

.form:not(.error) .request-error {
	display: none;
}

.outer-content.guest #family-info-form {
	display: none;
}

.outer-content.family #guest-info-form {
	display: none;
}

.field {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	line-height: 1.75rem;
}

.field label {
	text-align: right;
}

.field input {
	width: 100%;
	background-color: rgba(54, 11, 21, 0.125);
	border: none;
	border-radius: 4px;
	color: #360B15;
	padding: 0 3px;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 1rem;
	line-height: 1rem;
	max-width: 10rem;
}

.submit {
	margin-top: 1rem;
}

/* #endregion */

/* #endregion */

/* #region page */

.page {
	display: grid;
	grid-template-rows: 100vh 1fr;
	grid-template-columns: auto;
}

/* #region left */

.left {
	background-image: url("images/main.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	overflow: hidden;
}

.overlay {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	background-color: rgba(54, 11, 21, 0.35);
	height: 100%;
	color: #EAE4D4;
}

.nav-bar {
	text-align: center;
}

.nav-bar .links {
	margin: auto;
}

.nav-bar a {
	display: inline-block;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 0;
	width: 18%;
	color: #EAE4D4;
}

.header {
	text-align: center;
	display: grid;
	justify-items: center;
	align-items: end;
}

.header .text {
	font-size: 6rem;
	margin: 1rem;
}

.header .text.top {
	height: 100%;
}

.header .text.bottom {
	padding-bottom: 2rem;
}


.scroll-for-more {
	text-align: center;
	font-size: 1.25rem;
	animation: bounce 1s infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0px) rotate(90deg);
	}

	to {
		transform: translateY(-10px) rotate(90deg);
	}
}

/* #endregion */

/* #region right */

.right {
	overflow-y: auto;
	text-align: center;
	display: grid;
	justify-content: center;
}

.section {
	max-width: 28rem;
	display: grid;
}

.section:first-child {
	padding-top: 2rem;
}

.section .title-background {
	width: 100%;
	background-color: #360B15;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.section .title-overlay {
	height: 100%;
	background-color: rgba(54, 11, 21, 0.75);
}

#wedding-info .title-background {
	background-image: url("images/section_header_flowers.png");
}

#RSVP .title-background {
	background-image: url("images/section_header_stationary.jpg");
}

#about-us .title-background {
	background-image: url("images/section_header_us.png");
}

#photos .title-background {
	background-image: url("images/section_header_photos_cropped.PNG");
}

.album-title {
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

#registry .title-background {
	background-image: url("images/section_header_registry.jpg");
}

.section .title {
	font-size: 2.5rem;
	padding: 1.5rem 1rem;
	margin: 0;
	color: #EAE4D4;
}

.section .content {
	margin: 1rem 2rem;
}

.section .outer-content {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.section .content p {
	line-height: 1.75rem;
	padding: 0;
	margin: 0;
}

/* #endregion */

/* #endregion */

/* #region desktop styling */

@media (min-width: 800px) {
	.page {
		grid-template-rows: 100vh;
		grid-template-columns: 3fr 2fr;
		height: 100vh;
	}

	.scroll-for-more {
		display: none;
	}

	.section {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.section .title-background {
		border-radius: 4px;
	}

	.section .content {
		margin-left: 0;
		margin-right: 0;
	}

	.header .text {
		font-size: 9vw;
		margin: 0;
		margin-bottom: 1rem;
	}
}

/* #endregion */